*{
  margin: 0;
  padding: 0; 
}

@font-face {
        font-family: Chancery;
    src: url("Chancery Regular.ttf");
    }

body{
  background-image: url(../images/back2.jpg);
}

a{
  text-decoration: none;
}

a:link {
  color: #ffffff; 
}
a:visited {
  color: #ffffff;
}
a:hover {
  color: #ffffff;
}
a:active {
  color: #ffffff;
}

.header{
  width: 100%;
  height: 86px;
  background-color: rgb(235, 80, 144);
}

.header-secondary-mainbottom{
  float: right;
}


#body{
  min-width: 1035px;
  overflow: hidden;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.header-mainbottom{
  padding-top: 70px;
  padding-bottom: 5px;
}



.header-mainbottom-image{
  padding: 3px;
  margin-top: 14.67px;
  margin-left: 20px; 

}

.header-secondary-mainbottom1,
.header-secondary-mainbottom2,
.header-secondary-mainbottom3,
.header-secondary-mainbottom4{

  background-color: rgb(235, 80, 144);
  float: right;
  padding: 36px 34px 32px 34px;
  white-space: nowrap;
  user-select: none;
  
}
.header-secondary-mainbottom1:hover, 
.header-secondary-mainbottom2:hover, 
.header-secondary-mainbottom3:hover, 
.header-secondary-mainbottom4:hover{
  transition: 0.5s;
  background-color: rgb(219, 77, 136);
  float: right;
  padding: 36px 34px 32px 34px;
  white-space: nowrap;
  user-select: none;
}






.main-body{
  min-width: 800px;
  width: 60vw;
  margin: 0 auto;
  background-color: rgb(255, 188, 87);
  min-height: calc(100vh - 136px);


}


.second-another{
  display: grid;
  grid-template-columns: 100px 100px;
  margin-top: 50px;
  justify-content: space-around;
  grid-row-gap: 50px; 
}



.footer{
  height: 50px;
  width: 100%;
  background-color: rgb(250, 87, 155);
  margin-top: auto;
}