.general-post{
    display: flex;
    flex-direction: column;

}

.information-post{
    background-color: rgb(255, 188, 87);
    position: relative;
    top: 20vh;
    text-align: center;

}

.picture-general-post{
    height: 20vh;
    width: auto;
    margin: 0 10vh 0 10vh;
    position: fixed;
    /*z-index: -1;*/
    margin-left: 20%;

}



